# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = i2p_spider.settings

[deploy:i2p]
url = http://172.16.20.0:6800/
project = i2p_spider
